
.item-container{
    width: fit-content;
    border-radius: 5px;
    border: solid black 1px;
    background-color: rgb(202, 207, 213);
    margin: 5px 0;
}

.item-name{
    text-wrap: nowrap;
    margin: 2px;
    border-bottom: solid black 3px;
}

.tag-container{
    min-width: 100%;
    width: min-content;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.tag{
    margin: 2px;
    padding: 2px 6px;
    background-color: black;
    border: solid white 2px;
    border-radius: 12px 12px 12px 12px;
}

.tag-name{
    text-wrap: nowrap;
    text-align: center;
    color: white;
}

.tags_list{
    display: flex;
    flex-wrap: wrap;
}

.selection-panel{
    position: absolute;
    background-color: gray;
}
